Source: tuquito-system
Section: admin
Priority: optional
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-system
Architecture: all
Depends: aptitude
Description: Tuquito System Base Package
 Used by the desktop and other Tuquito tools to gather information and process common system tasks.
